<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Bio.JS registry</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <script src="lib/angular/angular.js"></script>

</head>

<body ng-app="registry" ng-controller="AppController">

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-brand"><a href="http://biojs.net">
            <img alt="BioJS logo - a registry of biological visualizations" src=img/logo.png width=64 height=64>

            </a>
            <h1>Biojs <span class=reg>registry</span></h1>
        </div>
        <div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li>
<a href="http://biojs.net">Home</a>    
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://biojs.net/our_mission.html">Mission and Vision</a></li>
<li class="divider"></li>
<li><a href="http://biojs.net/get_involved.html">Organization overview</a></li>
<li class="divider"></li>
<li><a href="http://biojs.net/publications.html">Publications</a></li>
<li class="divider"></li>
<li><a href="http://biojs.net/attributions.html">Attributions</a></li>
</ul>
</li>
<li>
<a href="https://docs.google.com/forms/d/1Xy4S-i5YgrmceCYPyXB-IS5iMCTU6rD8w3OV7z_cXUM/viewform">Submit to our Wish List!</a>    
</li>
 
</ul></div>
    </div>
</nav>

<div class="container">

    <div class="row">

        <div class="col-md-6">
            <component-search filter="filter"></component-search>
        </div>

        <div class="col-md-6 filter-box" ng-if="!filter.empty()" ng-cloak>
            <span class='filter-label glyphicon glyphicon-filter'></span>

            <div class="filter-sub-box" style="flex-grow: 1">
                <span ng-if="filter.searchTerm && filter.searchTerm.length > 0"
                      ng-click="filter.searchTerm = ''"
                      class="tag-box column-tag active-tag">
                    search: <span style="font-weight: normal; font-style: italic;">{{filter.searchTerm}}</span>
                </span>
                <tag ng-repeat="tag in filter.tags"
                     name='{{ tag }}'
                     active="true"
                     ng-click="filter.togglePresent(tag)"></tag>
            </div>
        </div>
    </div>

	<!-- components -->
	<div ng-view></div>



</div>


<script src="lib/es5-shim/es5-shim.min.js"></script>
<script src="lib/es6-shim/es6-shim.min.js"></script>
<script src="lib/lodash/dist/lodash.min.js"></script>
<script src="lib/angular-mocks/angular-mocks.js"></script>
<script src="lib/angular-route/angular-route.min.js"></script>

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/moment/min/moment.min.js"></script>

<script src="module.js"></script>

<script src="component-model/component-model.js"></script>

<script src="app/app-controller.js"></script>

<script src="value-display/value-display.js"></script>
<script src="tag/tag-directive.js"></script>
<script src="component-filter/component-filter-service.js"></script>
<script src="component-search/component-search-directive.js"></script>
<script src="component-table/component-table-directive.js"></script>
<script src="component-cards/component-cards.js"></script>
<script src="component-detail/component-detail.js"></script>
<script src="component-list/component-list.js"></script>

<script src="lib/marked/lib/marked.js"></script>
</body>
