<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Bio.JS registry</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

</head>

<body ng-app="registry" ng-controller="AppController">

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-brand">
            <img alt="BioJS logo - a registry of biological visualizations" src=img/logo.png width=64 height=64>

            <h1>Biojs <span class=reg>registry</small></h1>
        </div>
        <a class="home" href="http://biojs.net">Home</a>
    </div>
</nav>

<div class="container">


    <div class="row">

        <div class="col-md-6">
            <component-search filter="filter"></component-search>
        </div>

        <div class="col-md-6 filter-box" ng-if="!filter.empty()">
            <span class='filter-label glyphicon glyphicon-filter'></span>

            <div class="filter-sub-box" style="flex-grow: 1">
                <span ng-if="filter.searchTerm && filter.searchTerm.length > 0"
                      ng-click="filter.searchTerm = ''"
                      class="tag-box column-tag active-tag">
                    search: <span style="font-weight: normal; font-style: italic;">{{filter.searchTerm}}</span>
                </span>
                <tag ng-repeat="tag in filter.tags"
                     name='{{ tag }}'
                     active="true"
                     ng-click="filter.togglePresent(tag)"></tag>
            </div>
        </div>
    </div>

    <div ng-if="layout == 'table'">
        <component-table filter="filter"></component-table>
    </div>

    <div ng-if="layout == 'cards'">
        <component-cards components="displayedComponents"></component-cards>
    </div>

    <a ng-click="layout = 'table'" class="glyphicon glyphicon-th-list" title="Table"></a>
    <a ng-click="layout = 'cards'" class="glyphicon glyphicon-th-large" title="Cards"></a>
</div>


<script src="lib/es5-shim/es5-shim.min.js"></script>
<script src="lib/es6-shim/es6-shim.min.js"></script>
<script src="lib/lodash/dist/lodash.min.js"></script>
<script src="lib/angular/angular.js"></script>

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="module.js"></script>

<script src="component-model/component-model.js"></script>

<script src="app/app-controller.js"></script>

<script src="tag/tag-directive.js"></script>
<script src="tag-list/tag-list-directive.js"></script>
<script src="component-filter/component-filter-service.js"></script>
<script src="component-search/component-search-directive.js"></script>
<script src="component-table/component-table-directive.js"></script>
<script src="component-cards/component-cards.js"></script>
</body>
