<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>BioJS Registry</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/octicons/octicons/octicons.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <script bundler-min="angular" src="lib/angular/angular.js"></script>

</head>

<body ng-app="registry" ng-controller="AppController">
    <!-- Github ribbon -->
    <a href="https://github.com/biojs/biojs">
        <div id="github-ribbon" alt="Fork me on GitHub">
        </div>
    </a>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-brand">
                <h1 style="margin-left:0px;font-size:45px">
				B
			<img alt="BioJS logo - a registry of biological visualizations" src=img/bio_dna.svg height=50>

			<a href="http://biojs.net" id="biojs-logo-link" >I/O</a>
			<a href="#"><span class=reg>Registry </span></a>
		</h1>
                <!--  <input ng-model="filter.searchTerm" id="search" name="search" placeholder="e.g. proteins" autofocus style="
    width: 650px;
    height: 35px;
    margin-left: 5px;"> -->



            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav" id="registry-nav-menu">

                    <li>
                        <span class="glyphicon glyphicon-open"></span>
                        <a href="http://edu.biojs.net/101/publish_it/">Submit</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        <a href="https://github.com/biojs/biojs/issues/new?title=%5BWish%5D&body=%3E+Try+to+be+as+detailed+as+possible.+Why+do+you+need+it%3F+What+data+does+it+use%3F+What+should+the+user+experience%3F%0A%0A%0A%3E+Complexity+%28approx.+estimate+in+dates%29">Wish a component</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-stats"></span>
                        <a href="http://stats.biojs.net">Stats</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-user"></span>
                        <a href="http://biojs.net">About us</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-md-7">
                <component-search filter="filter"></component-search>
            </div>
            <div class="col-md-2" ng-if="view != 'list'">
                <a href="#">
                    <img src="/img/actions/left.svg" height=40 width=40>
                </a>
            </div>
            <div class="col-md-5 filter-box" ng-if="!filter.empty()" ng-cloak>

                <span class='filter-label glyphicon glyphicon-filter'></span>

                <div class="filter-sub-box" style="flex-grow: 1">
                    <span ng-if="filter.searchTerm && filter.searchTerm.length > 0" ng-click="filter.searchTerm = ''" class="tag-box column-tag active-tag">
                    search: <span style="font-weight: normal; font-style: italic;">{{filter.searchTerm}}</span>
                    </span>
                    <tag ng-repeat="tag in filter.tags" name='{{ tag }}' active="true" ng-click="filter.togglePresent(tag)"></tag>
                </div>
            </div>

        </div>
        <div class="row">
            <div class "col-md-2" ng-if="view == 'list'">
                <span style="font-size:12px; margin-left:2%; margin-top:2%">{{ displayedComponents.length }} components found</span>
            </div>
        </div>
        <div class="row">


        </div>

        <!-- components -->
        <div ng-view></div>

    </div>


    <script bundler="libs" src="lib/es5-shim/es5-shim.js"></script>
    <script bundler="libs" src="lib/es6-shim/es6-shim.js"></script>
    <script bundler="libs" src="lib/lodash/dist/lodash.js"></script>
    <script bundler="libs" src="lib/angular-mocks/angular-mocks.js"></script>
    <script bundler="libs" src="lib/angular-route/angular-route.js"></script>

    <script bundler="libs" src="lib/jquery/dist/jquery.js"></script>
    <script bundler="libs" src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script bundler="libs" src="lib/moment/moment.js"></script>

    <script bundler="angular" src="config.js"></script>
    <script bundler="angular" src="angular/module.js"></script>
    <script bundler="angular" src="angular/utils.js"></script>

    <script bundler="angular" src="angular/component-model/component-model.js"></script>

    <script bundler="angular" src="angular/app/app-controller.js"></script>

    <script bundler="angular" src="angular/value-display/value-display.js"></script>
    <script bundler="angular" src="angular/tag/tag-directive.js"></script>
    <script bundler="angular" src="angular/component-filter/component-filter-service.js"></script>
    <script bundler="angular" src="angular/component-search/component-search-directive.js"></script>
    <script bundler="angular" src="angular/component-table/component-table-directive.js"></script>
    <script bundler="angular" src="angular/component-cards/component-cards.js"></script>
    <script bundler="angular" src="angular/component-detail/component-detail.js"></script>
    <script bundler="angular" src="angular/component-list/component-list.js"></script>

	<!-- we only need this for the detail view -->
    <script bundler="libs" src="lib/marked/lib/marked.js"></script>

    <script bundler="angular" src="angular/ga.js"></script>

    <!-- Place this tag right after the last button or just before your close body tag. -->
    <!--<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>-->


    <script>
        </script>

</body>
</html>
