<div class="component-detail" style="margin-top: 20px;">

	<div class="row">
		<div class="col-xs-8">
			<div style="float: left; display: inline-block; border: solid 0px lightgray; padding: 5px 10px 5px 85px; margin-right: 10px">
				<img ng-src="{{ c.avatar }}" style="float: left; margin-left: -80px; margin-right: 5px;" title="by {{ c.author.name }}" width="64" height="64" />
				<h2 style="margin-top: 0; white-space: nowrap;">{{ c.name }}</h2>
				<i>{{ c.description }}</i>
			</div>
			<div style="margin-top: 1px;">
				<tag ng-repeat="tag in c.tags | filter:notDisplayedInColumn"
				     name='{{ tag }}'
				     active="{{ filter.tagPresent(tag) }}"
				     ng-click="filter.togglePresent(tag)"></tag>
			</div>
		</div>

		<div class="col-xs-2 valueBtn" ng-if="c.src">
			<a href=" {{ c.src }}" target="_blank"> 
				<value-display value="View Code" octicon="mark-github"></value-display>
			</a>
		</div>
		<div class="col-xs-2">
			<value-display value="Share" glyph="share-alt"></value-display>
		</div>
	</div>

	<pre style="margin-top: 20px">npm install {{c.name}}</pre>


	<div id="first-snippet" ng-if="c.snipURL">

	  <div class="row row-centered">
	  	<div class="col-xs-2 valueBtn col-centered">
	  		<a ng-href=" {{ c.firstSnipURL }}" target="_blank"> 
	  			<value-display value="New window" glyph="fullscreen"></value-display>
	  		</a>
	  	</div>
	  	<div class="col-xs-2 valueBtn col-centered">
	  		<a ng-href=" {{ c.firstSnipBinURL }}" target="_blank"> 
	  			<value-display value="Edit" glyph="edit"></value-display>
	  		</a>
	  	</div>

		<div class="col-xs-2 valueBtn col-centered">
			<a ng-href=" {{ c.firstSnipCodePenURL }}" target="_blank"> 
				<value-display value="Edit (CP)" glyph="edit"></value-display>
			</a>
		</div>

	      <div class="col-xs-2 valueBtn col-centered">
	  		<a ng-href=" {{ c.snipURL }}" target="_blank"> 
				<value-display value="All ({{ c.snipNum }})" glyph="align-justify"></value-display>
	  		</a>
	      </div>
  		  <div class="col-xs-2 valueBtn col-centered" ng-if="c.events">
	  		<a ng-href=" {{ c.src  + '/blob/' + c.github.default_branch + '/events.json' }}" target="_blank"> 
				<value-display value="{{ _.size(c.events) }} events" octicon="radio-tower"></value-display>
	  		</a>
	      </div>

		  <div class="col-xs-2 valueBtn col-centered">
			<select ng-model="c.selectedSnip" ng-change="changeDemo(s)" ng-options="s for s in c.snips" >
				<!--<option ng-repeat="s in c.snips" ng-model="s" ng-value="s" ng-selected="s == c.latest.sniper.first" >{{ s }} </option>-->
			</select>
			<br>
			{{ c.snips.length }} examples available.
	      </div>

	  </div>

	  <iframe ng-src="{{ c.firstSnipURL | trusted }}" id='demo-frame' width="100%" height="{{ c.registryHeight }}px" iframe-onload="frameLoaded('demo-frame')">
	  </iframe>
	</div>

	<div class="panel panel-default" style="margin-top: 20px" ng-if="c.events">
		<div class="panel-heading"><h3 style="margin: 0">Event console</h3></div>
		<div id="evt-console" height=100px class="panel-body">

		</div>
	</div>

	<div class="panel panel-default" style="margin-top: 20px">
		<div class="panel-heading"><h3 style="margin: 0">Social</h3></div>
		<div class="panel-body row" ng-init="socialValues = [
			{  name: 'stars',      octicon: 'star'          },
			{  name: 'downloads',  octicon: 'cloud-download'  },
			{  name: 'watchers',   octicon: 'eye'      },
			{  name: 'commits',    octicon: 'history'         },
			{  name: 'forks',      octicon: 'repo-forked'        },
			{  name: 'contributors', octicon: 'organization' }
		]">
			<div class="col-xs-2" ng-repeat="v in socialValues">
				<value-display name="{{ v.name }}"
				               value="{{ c[v.name] }}"
				   octicon="{{ v.octicon }}"></value-display>
			</div> </div> </div>

	<div class="panel panel-default" style="margin-top: 20px">
		<div class="panel-heading"><h3 style="margin: 0">Time & Stats</h3></div>
		<div class="panel-body row" ng-init="timeStatsValues = [
			{  name: 'version',      glyph: 'barcode',  prefix: 'version: ',  postfix: ' '             },
			{  name: 'strModified',  glyph: 'time',     prefix: 'modified ',  postfix: ' '             },
			{  name: 'strCreated',   glyph: 'time',     prefix: 'created ',   postfix: ' '             },
			{  name: 'releases',     glyph: 'flag'                                                     },
			{  name: 'issues',       octicon: 'issue-opened',                        postfix: ' open issues'  }
		]">
			<div class="col-xs-2" ng-repeat="v in timeStatsValues">
				<value-display name="{{ v.name }}"
				               value="{{ c[v.name] }}"
				               glyph="{{ v.glyph }}"
				   			   octicon="{{ v.octicon }}"
					           prefix="{{ v.prefix }}"
					           postfix="{{ v.postfix }}"></value-display>
			</div>
		</div>
	</div>

	<div class="panel panel-default" style="margin-top: 20px" ng-if='c.github.contribs'>
        <div class="panel-heading"><h3 style="margin: 0">Contributors</h3></div>
        <div class="panel-body container-fluid">
			<div clas="row">
            	<div ng-repeat="author in c.github.contribs | orderBy:'contributions':true" class="col-xs-2 col-lg-1">
					<a ng-href='https://github.com/{{ author.login }}'><img ng-src='{{ author.avatar_url}}&s=50' width=50 height=50 /> </a>
                	<div>{{ author.login }}</div>
                	<div>{{ author.contributions}}</div>
                </div>
            </div>
        </div>
    </div>

	<div class="panel panel-default" style="margin-top: 20px">
		<div class="panel-heading"><h3 style="margin: 0">Legal</h3></div>
		<div class="panel-body row" ng-init="legalValues = [
			{  name: 'license', glyph: 'usd',  prefix: 'license: ',  postfix: ' ' }
		]">
			<div class="col-xs-2" ng-repeat="v in legalValues">
				<value-display name="{{ v.name }}"
				               value="{{ c[v.name] }}"
				               glyph="{{ v.glyph }}"
				               prefix="{{ v.prefix }}"
				               postfix="{{ v.postfix }}"></value-display>
			</div>
			<!--<div class="col-xs-2">-->
			<!--<div class="glyphicon glyphicon-book"></div>-->
			<!--Cite {{ c.citeHref}}-->
			<!--</div>-->
		</div>
	</div>

	<!--
	<div class="panel panel-default" style="margin-top: 20px">
		<div class="panel-heading"><h3 style="margin: 0">Tests & Gold Standard</h3></div>
		<div class="panel-body row">
			<div ng-repeat="col in ['readme','demos','jsdocs','build','tests']" class="col-xs-2">
				{{ col }}: <span ng-bind-html="c.columns[col]"></span>
			</div>
		</div>
	</div>
	-->

	<div id=readme" ng-bind-html="c.readme"></div>

</div>
