<div class="component-detail">

<div class="row">
	<div class="col-xs-5 col-md-3">
		<h2> {{ c.name }} </h2>
		by {{ c.author.name }}
		<br />
	</div>

	<div class="col-xs-3 col-md-2 detail-first-row">
		<img ng-src="{{ c.avatar}}" width="80" height="80" />
	</div>

	<div class="col-md-2 col-xs-2 detail-first-row">
		<a href="">
			<div class="glyphicon glyphicon-search"></div>
		</a>
		View code
	</div>
	<div class="col-md-2 detail-first-row">
		<div class="glyphicon glyphicon-share-alt"></div>
		Share	
	</div>
</div>

<i>{{ c.description }} </i>
<br />
<br />

<pre>
npm install {{c.name}}
</pre>

<h3>Social</h3>
<div class="row">
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-star"></div>
		{{ c.stars }}
	</div>
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-download-alt"></div>
		{{ c.downloads }}
	</div>
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-eye-open"></div>
		{{ c.watchers }}
	</div>
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-flash"></div>
		{{ c.commits }} commits
	</div>
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-random"></div>
		{{ c.forks }} forks
	</div>
	<div class="col-xs-2">
	</div>
</div>

<h3>Tags</h3>
<span ng-repeat="tag in c.tags" >{{ tag }},</span></td>

<h3>Time & stats</h3>
<div class="row">
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-barcode"></div>
		{{ c.version }}
	</div>
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-time"></div>
		Modified {{ c.strModified }}
	</div>
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-time"></div>
		Created {{ c.strCreated }}
	</div>
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-flag"></div>
		{{ c.releases }} releases
	</div>
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-comment"></div>
		{{ c.issues }} open issues 
	</div>
	<div class="col-xs-2">
	</div>
</div>

<h3>Legal</h3>
<div class="row">
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-usd"></div>
		{{ c.license }}
	</div>
	<div class="col-xs-2">
		<div class="glyphicon glyphicon-book"></div>
		Cite {{ c.citeHref}}
	</div>
	<div class="col-xs-2">
	</div>
	<div class="col-xs-2">
	</div>
	<div class="col-xs-2">
	</div>
</div>

<h3>Tests & Gold standard </h3>
<div class="row">
	<div ng-repeat="col in ['readme','demos','jsdocs','build','tests']" class="col-xs-2">
		<span ng-bind-html="c.columns[col]"> </span>
		{{ col }} 
	</div>
</div>

<h3>ReadMe</h3>

<div id=readme" ng-bind-html="c.readme" >
</div>

</div>
