<table class="component-list table">
    <thead>
    <tr>
        <th ng-click="setOrderProp('name')" ng-class="[{active: orderProp == 'name'},'listview-pointer']" > Name
        <th>Summary
        <th ng-click="setOrderProp('version')" ng-class="[{active: orderProp == 'version'},'listview-pointer']">Version
        <th>Avatar
        <th ng-click="setOrderProp('stars')" ng-class="[{active: orderProp == 'stars'},'listview-pointer']">Stars
        <th ng-click="setOrderProp('downloads')" ng-class="[{active: orderProp == 'downloads'},'listview-pointer']">Downloads
		<th ng-click="setOrderProp('modified')" ng-class="[{active: orderProp == 'modified'},'listview-pointer']">Modified
        <th>
            <tag name="has:readme" active="{{ filter.tagPresent('has:readme') }}"
                 ng-click="filter.togglePresent('has:readme')"></tag>
        <th>
            <tag name="has:demos" active="{{ filter.tagPresent('has:demos') }}"
                 ng-click="filter.togglePresent('has:demos')"></tag>
        <th>
            <tag name="has:jsdocs" active="{{ filter.tagPresent('has:jsdocs') }}"
                 ng-click="filter.togglePresent('has:jsdocs')"></tag>
        <th>
            <tag name="has:build" active="{{ filter.tagPresent('has:build') }}"
                 ng-click="filter.togglePresent('has:build')"></tag>
        <th>
            <tag name="has:tests" active="{{ filter.tagPresent('has:tests') }}"
                 ng-click="filter.togglePresent('has:tests')"></tag>
    <!--    
		<th>Author
		<th>Forks
        <th>Issues
		<th>Watchers
		<th>License
		<th>Created
		<th>Releases
		<th>Commits
		<th>Cite -->
        </tr>
    </thead>
    <tbody>
    <!-- TODO: add orderBy -->
    <tr ng-repeat="component in components | filter:filterFn | orderBy:orderProp:orderReverse ">
        <td class="listview-name" ng-click="switchView(component.name)">{{ component.name }}
        <td>{{ component.description }}
        <td>{{ component.version }}
		<td><img ng-src="{{ component.avatar}}" width="32" height="32" />
		<td>{{ component.stars }}
		<td>{{ component.downloads }}
		<td>{{ component.strModified }}
	    <td ng-repeat="col in ['readme','demos','jsdocs','build','tests']" ng-bind-html="component.columns[col]"></td>
        <td><tag ng-repeat="tag in component.tags | filter:notDisplayedInColumn"
                 name='{{ tag }}'
                 active="{{ filter.tagPresent(tag) }}"
                 ng-click="filter.togglePresent(tag)"></tag>
	<!--
		<td>{{ component.author.name }} 
		<td>{{ component.forks }}
		<td>{{ component.issues }}
		<td>{{ component.watchers }}
		<td>{{ component.license }}
		<td>{{ component.strCreated }}
		<td>{{ component.releases }}
		<td>{{ component.commits}}
		<td>{{ component.citeHref}} -->


    </tr>
    </tbody>
    <tfoot>
    <tr ng-show='hiddenCount > 0' id="hiddenCount">
        <td colspan=9>
            {{ hiddenCount }} components hidden
        </td>
    </tr>

    <tr>
        <td colspan=9 class=add>
            <a href="https://github.com/biojs/registry/edit/master/index.toml" class="btn happy">Add your component!</a>
            <a href="https://docs.google.com/forms/d/1Xy4S-i5YgrmceCYPyXB-IS5iMCTU6rD8w3OV7z_cXUM/viewform" class="btn happy">Submit ideas for BioJS components!</a>
        </td>
    </tr>
    </tfoot>
</table>
