<table class="component-list table center-block">


    <col width="100px" />
    <col width="512px" />
    <col width="150px" />
    <col width="200px" />
    <col width="200px" />
    <col width="100px" />
    <thead>
    <tr>
       <th>
        <th class="link" ng-click="setOrderProp('name')" ng-class="[{active: orderProp == 'name'},'listview-pointer']" > <nobr><i class="fa fa-bookmark-o"></i> Component</nobr>
        <!-- <th>Summary -->
<!--         <th ng-click="setOrderProp('version')" ng-class="[{active: orderProp == 'version'},'listview-pointer']">Version
 -->
        <th class="link" ng-click="setOrderProp('stars')" ng-class="[{active: orderProp == 'stars'},'listview-pointer']"><nobr><i class="fa fa-star"></i> Stars</nobr>
        <th class="link" ng-click="setOrderProp('downloads')" ng-class="[{active: orderProp == 'downloads'},'listview-pointer']"><nobr><i class="fa fa-download"></i> Downloads</nobr>

		<th class="link" ng-click="setOrderProp('modified')" ng-class="[{active: orderProp == 'modified'},'listview-pointer']"><nobr><i class="fa fa-refresh"></i> Modified</nobr>
        <th>
            <tag name="has:demos" active="{{ filter.tagPresent('has:demos') }}"
                 ng-click="filter.togglePresent('has:demos')"></tag>

       <!--  <th>
            <tag name="has:readme" active="{{ filter.tagPresent('has:readme') }}"
            ng-click="filter.togglePresent('has:readme')"></tag> -->
        <!-- <th>
            <tag name="has:jsdocs" active="{{ filter.tagPresent('has:jsdocs') }}"
			ng-click="filter.togglePresent('has:jsdocs')"></tag> -->
        <!-- <th>
            <tag name="has:build" active="{{ filter.tagPresent('has:build') }}"
                 ng-click="filter.togglePresent('has:build')"></tag>
        <th>
            <tag name="has:tests" active="{{ filter.tagPresent('has:tests') }}"
                 ng-click="filter.togglePresent('has:tests')"></tag> -->
       </tr>
    </thead>
    <tbody>
    <!-- TODO: add orderBy -->
    <tr ng-repeat="component in components | filter:filterFn | orderBy:orderProp:orderReverse ">

             <td><img ng-src="{{ component.avatar}}" width="42" height="42" />
        <td class="listview-name" ng-click="switchView(component.name)">
            <div style="float: left; display: inline-block; margin-right: 10px">
				<h2 class="link"  style="margin-top: 0; white-space: nowrap; font-size:18px" class="ng-binding"> {{ component.name }} <span style="font-size:10px">{{component.version}} </span> <br></h2>
				<div style="font-size:14px; margin-top: -7px;padding-bottom: 5px">{{ component.author.name }}</div>
                <p class="ng-binding"> {{component.description | limitTo: 120 }}{{ component.description.length > 50 ? '...' : '' }}</i></p>
                <tag ng-repeat="tag in component.tags | filter:notDisplayedInColumn"
                 name='{{ tag }}'
                 active="{{ filter.tagPresent(tag) }}"
                 ng-click="filter.togglePresent(tag)"></tag>
            </div>
		<!-- <td>{{ component.description | limitTo: 50 }}{{ component.description.length > 50 ? '...' : '' }}</i> -->
		<td><!-- Place this tag where you want the button to render. -->
        <span class="badge">{{ component.stars }}</span>
		<td><span class="badge">{{ component.downloads }}</span>
		<td>{{ component.strModified }}
		<td>
			<span ng-if="component.snipURL">
				<img ng-src="{{ 'http://img.shields.io/badge/%23-'+component.snipNum }}-blue.svg" ng-click="switchView(component.name)">
			<!--<img width=133 height=100 src="http://screenshoter.biojs.net/?url=workmen.biojs.net/demo/{{ component.name }}/{{ component.latest.sniper.first}}&delay=2&resizeWidth=133&resizeHeight=100&width=800&height=600" fallback-hide=""></img>-->

			<!-- <div class="text-center" > ({{ component.snipNum }} demos) </div> -->
		</span>

        <!-- <td><tag ng-repeat="tag in component.tags | filter:notDisplayedInColumn"s
                 name='{{ tag }}'
                 active="{{ filter.tagPresent(tag) }}"
                 ng-click="filter.togglePresent(tag)"></tag> -->
	<!--
		<td>{{ component.author.name }}
		<td>{{ component.forks }}
		<td>{{ component.issues }}
		<td>{{ component.watchers }}
		<td>{{ component.license }}
		<td>{{ component.strCreated }}
		<td>{{ component.releases }}
		<td>{{ component.commits}}
		<td>{{ component.citeHref}} -->


    </tr>
    </tbody>

</table>
