<div ng-if="layout == 'table'" class="container center-block">
    <component-table filter="filter"></component-table>
</div>

<div ng-if="layout == 'cards'">
    <component-cards components="displayedComponents" filter="filter"></component-cards>
</div>

<div class="container center-block">
<a ng-class="{active: layout == 'table'}" ng-click="setLayout('table')" class="glyphicon glyphicon-th-list layout-icon" title="Display as table"></a>
<a ng-class="{active: layout == 'cards'}" ng-click="setLayout('cards')" class="glyphicon glyphicon-th-large layout-icon" title="Display as cards"></a>
</div>

