<div class="container">
<div class="btn-group pull-right" role="group">
  <button type="button" ng-class="{active: layout == 'table'}" ng-click="setLayout('table')" class="btn btn-default glyphicon glyphicon-th-list layout-icon" title="Display as table"></button>
  <button type="button" ng-class="{active: layout == 'cards'}" ng-click="setLayout('cards')" class="btn btn-default glyphicon glyphicon-th-large layout-icon" title="Display as cards"></button>
</div>
  <!-- <a ></a>
  <a ></a> -->
</div>


<div ng-if="layout == 'table'" class="container center-block">
    <component-table filter="filter"></component-table>
</div>

<div ng-if="layout == 'cards'">
    <component-cards components="displayedComponents" filter="filter"></component-cards>
</div>
