<div class="component-cards row">
	<div class="col-xs-6 col-md-4 col-lg-3 component-card" ng-repeat="c in components | filter:filterFn | orderBy:orderProp:orderReverse" ng-click="switchView(c.name)">

		<div class="panel panel-default" ng-init="socialValues = [
		{  name: 'stars',      octicon: 'fa fa-star'          },
		{  name: 'downloads',  octicon: 'fa fa-download'  },
		{  name: 'forks',      octicon: 'fa fa-code-fork'        },
		]">
		  <div class="panel-body" style="height:160px;">

				<div class="media">
				  <div class="media-left media-top">
				    <a href="#">
				      <img class="media-object" ng-src="{{ c.avatar}}" width="25"/>
				    </a>
				  </div>
				  <div class="media-body">
				    <h5 class="media-heading text-left">{{ c.name }}</h5>
				    <i style="text-align:justify">{{ c.description | limitTo: 100 }}{{ c.description.length > 50 ? '...' : '' }}</i>
				  </div>
				</div>
		  </div>
	 		<div class="panel-footer text-center">
				<div class="btn-group" role="group" aria-label="...">
				  <button type="button" class="btn btn-default" ng-repeat="v in socialValues"><i class="{{v.octicon}}"></i> {{ c[v.name] }}</button>
				</div>
			</div>
		</div>
	</div>
</div>
